<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class='main-container'>

        <div class='container'>

            <div class='left-sidebar'>
                <h2>Dashboard</h2>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/purord'>PURCHASE ORDER</a>

                  </div>
                <div>
  <a class='left-sidebar-links' href='http://localhost:4200/dashboard'>PROFILE</a>

                </div>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/invoice'>INVOICE</a>
                </div>
                
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/pa'>PAYMENT-AGING</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/quotation'>QUOTATION</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/credit'>CREDIT</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/debit'>DEBIT</a>
                </div>
              
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/gr'>GOODS RECEIPT</a>
                </div>
                


            </div>

            <div class='dashboard'>
                <div class="dropdown" style="float:right;">
                    <div class="dropdown-content">
                      <button (click)="shutdown()">LOGOUT👋</button>
                    </div>
                  </div>
                <H2 align="center">VENDOR PORTAL- PURCHASE ORDER</H2>

               

                <div class="time">
                    <mat-card class="matcard">
                        <mat-card-content>TIME:{{time}}</mat-card-content>
                      </mat-card>
                </div>
               
              

                <div class='rightbar'>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status" >
                          <span class="sr-only" id="loading"></span>
                        </div>
                      </div>
                    <br>

                    <input type="text" class="form-control" placeholder="Filter by Purchase Order Number" [(ngModel)]="filterdata" />
                    <br>
                        <br>
                    <table>
                        <th>PO Number</th>
                        <th>PO Item Number</th>
                        <th>Created Date</th>
                        <th>Description </th>
                        <th>Order Unit </th>
                        <th>Price Date</th>
                        <th>Quantity </th>
                        <th>Net Price </th>

                    <tr style="height:10px" *ngFor="let entries of this.items | filter2:filterdata">
                        <td><h4>{{entries.PO_NUMBER}}</h4></td>
                        <td><h4>{{entries.PO_ITEM| number}}</h4></td>
                        <td><h4>{{entries.CHANGED_ON | date: 'dd/MM/yyyy'}}</h4></td>
                        <td><h4>{{entries.SHORT_TEXT}}</h4></td>
                        <td><h4>{{entries.ORDERPR_UN}}</h4></td>
                        <td><h4>{{entries.PRICE_DATE| date: 'dd/MM/yyyy'}}</h4></td>
                        <td><h4>{{entries.QUANTITY| number}}</h4></td>      
                        <td><h4>{{entries.NET_PRICE| number}}</h4></td>
                        

                    
                    </tr>
                </table>
                            
                        
                 
                    
                    
                </div>


            </div>


        </div>
    </div>
