<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class='main-container'>

        <div class='container'>

            <div class='left-sidebar'>
                <h2>Dashboard</h2>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/pa'>PAYMENT-AGING</a>

                  </div>
                <div>
  <a class='left-sidebar-links' href='http://localhost:4200/invoice'>INVOICE</a>

                </div>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/purord'>PURCHASE-ORDER</a>
                </div>
                
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/quotation'>QUOTATION</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/dashboard'>PROFILE</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/credit'>CREDIT</a>
                </div>
              
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/debit'>DEBIT</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/gr'>GOODS RECEIPT</a>
                </div>
                


            </div>

            <div class='dashboard'>
                <div class="dropdown" style="float:right;">
                    <div class="dropdown-content">
                      <button (click)="shutdown()">LOGOUT👋</button>
                    </div>
                  </div>
                <H2 align="center">VENDOR PORTAL- PAYMENT AGING</H2>

               
               

                <div class="time">
                    <mat-card class="matcard">
                        <mat-card-content>TIME:{{time}}</mat-card-content>
                      </mat-card>
                </div>
               
              

                <div class='rightbar'>
                    <br>
                    <br>

                    
                    
                    <input type="text" class="form-control" placeholder="Filter by Document Number" [(ngModel)]="filterdata" />
                    <br>
                    <br>
                    <table>
                        <th>DOCUMENT NUMBER</th>
                        <th>AMOUNT IN LC</th>
                        <th>AMOUNT</th>
                        <th>G/L AMOUNT</th>
                        <th>G/L CURRENCY</th>
                        <th>AGING</th>
                        

                    <tr style="height:10px" *ngFor="let entries of this.items | filterpipe:filterdata">
                        <td><h4>{{entries.BELNR}}</h4></td>
                        <td><h4>{{entries.DMBTR}}</h4></td>
                        <td><h4>{{entries.WRBTR}}</h4></td>
                        <td><h4>{{entries.PSWBT}}</h4></td>
                        <td><h4>{{entries.PSWSL}}</h4></td>
                        <td><h4>{{entries.AGING}}</h4></td>
                        
                </table>
                
                        
                 
                    
                    
                </div>


            </div>


        </div>
    </div>
