<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body> 
    <div class="kaarimg">
        
    <img src = "assets/KT_15_Logo.png" width="300px" height="200px"></div>

    <div class="left">
        <h1>
           Welcome back!<span class="wave">👋</span>
           <p>Happy to see you again!Stay Connected🧑🏻‍💻</p>
        </h1>
    </div>
   
   

    <div class="center">
        <h1>
            Login💻
        </h1>
        <form>
            <div class="text-field">
                <input type="number" [value]="vendorid"  (input)="vendorid=($any($event.target).value)"  required>
                <span></span>
                <label>Vendor-ID</label>
            </div>
            <div class="text-field">
                <input type="password" [value]="password" id="myInput" (input)="password=($any($event.target).value)"  required>
                <label>Password</label>
                <span></span>
            </div>
            <input type="checkbox" (click)="myFunction()">Show Password
           

        </form>
        <div class="container">
            <div>
                <button class="log" (click)="validate()">Login</button>
            </div> 
          </div>
       
           
              
    </div>
</body>
</html>


