<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class='main-container'>

        <div class='container'>

            <div class='left-sidebar'>
                <h2>Dashboard</h2>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/gr'>GOODS RECEIPT</a>

                  </div>
                <div>
  <a class='left-sidebar-links' href='http://localhost:4200/dashboard'>PROFILE</a>

                </div>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/purord'>PURCHASE-ORDER</a>
                </div>
                
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/pa'>PAYMENT-AGING</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/quotation'>QUOTATION</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/credit'>CREDIT</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/debit'>DEBIT</a>
                </div>
              
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/invoice'>INVOICE</a>
                </div>
                


            </div>

            <div class='dashboard'>
                <div class="dropdown" style="float:right;">
                    <div class="dropdown-content">
                      <button (click)="shutdown()">LOGOUT👋</button>
                    </div>
                  </div>
                <H2 align="center">VENDOR PORTAL- GOODS RECEIPT</H2>

               
                

                <div class="time">
                    <mat-card class="matcard">
                        <mat-card-content>TIME:{{time}}</mat-card-content>
                      </mat-card>
                </div>
                <br>
               

                <input type="text" class="form-control" placeholder="Filter by Purchase Order Number" [(ngModel)]="filterdata" />

                <div class='rightbar'>
                    <br>
                    <br>
                    
                    <table>
                        <th>MATERIAL DOCUMENT</th>
                        <th>DOCUMENT DATE</th>
                        <th>FISCAL YEAR </th>
                        <th>ORDER UNITS</th>
                        <th>ORDER QUANTITY </th>
                        <th>PO NUMBER </th>
                        <th>CURRENCY </th>

                        <ng-container *ngFor="let entries1 of giitems | filter4:filterdata">
                        <tr *ngFor="let entries of items; let i=index">
                            
                                
                    <td><h4>{{entries.MAT_DOC}}</h4></td>
                    <td><h4>{{entries.DOC_DATE| date: 'dd/MM/yyyy'}}</h4></td>
                    <td><h4>{{entries.DOC_YEAR}}</h4></td>
                    <td><h4>{{entries1.ORDERPR_UN}}</h4></td>
                    <td><h4>{{entries1.ENTRY_QNT| number}}</h4></td>
                    <td><h4>{{entries1.PO_NUMBER}}</h4></td>
                    <td><h4>{{entries1.CURRENCY}}</h4></td>
                </tr>
                            </ng-container>
                          
                      
                        
                  
                   
                    </table>
                    
                    
                    
                  
                
                        
                 
                    
                    
                </div>


            </div>


        </div>
    </div>
