<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class='main-container'>

        <div class='container'>

            <div class='left-sidebar'>
                <h2>Dashboard</h2>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/quotation'>QUOTATION</a>

                  </div>
                <div>
  <a class='left-sidebar-links' href='http://localhost:4200/invoice'>INVOICE</a>

                </div>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/purord'>PURCHASE-ORDER</a>
                </div>
                
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/pa'>PAYMENT-AGING</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/dashboard'>PROFILE</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/credit'>CREDIT</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/debit'>DEBIT</a>
                </div>
              
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/gr'>GOODS RECEIPT</a>
                </div>
                


            </div>

            <div class='dashboard'>
                <H2 align="center">VENDOR PORTAL-QUOTATION</H2>

                <div class="shutdown">
                    <button class="log"  (click)="shutdown()">LOGOUT👋</button>
                </div>

                <div class="time">
                    <mat-card class="matcard">
                        <mat-card-content>TIME:{{time}}</mat-card-content>
                      </mat-card>
                </div>
               
               

              

                <div class='rightbar'>
                    <br>
                    <br>
                    
                    <input type="text" class="form-control" placeholder="Filter by Document Date" [(ngModel)]="filterdata" />
                    <br>
                    <br>

                    <table>
                        <th>DOCUMENT DATE</th>
                        <th>COMPANY CODE</th>
                        <th>QUOT_DEADLINE </th>
                        <th>CURRENCY</th>
                        <th>STATUS</th>


                    <tr style="height:10px" *ngFor="let entries of this.items | filter1:filterdata">
                        <td><h4>{{entries.DOC_DATE | date: 'dd/MM/yyyy'}}</h4></td>
                        <td><h4>{{entries.CO_CODE | number}}</h4></td>
                        <td><h4>{{entries.QUOT_DEAD | date: 'dd/MM/yyyy'}}</h4></td>
                        <td><h4>{{entries.CURRENCY}}</h4></td>
                        <td><h4>{{entries.STATUS}}</h4></td>
                        
                        
                </table>
                
                        
                 
                    
                    
                </div>


            </div>


        </div>
    </div>